
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageError</title>
</head>
<body>
    <div class="container">
        <h1>Error Page</h1>
    </div>
</body>
</html>
